.iframe-content {
  border: none;
  border-color: transparent;
}

.progress-bar {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  border: 5px solid #ddd;
}

.circle-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  border: 5px solid rgb(128, 128, 128);
  border-top: 5px solid rgb(52, 181, 255);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
